<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="../assets/css/styles.css">
          <title>HTML Templates Demo v1</title>
     </head>

     <body>

          <footer>
               <h5>This is the footer page!</h5>
          </footer>
          <script>

          </script>
     </body>

</html>