<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="assets/css/styles.css">
          <title>Sign in to your account</title>
     </head>

     <body>
          <header>
               {{ template "navbar" }}
          </header>
          <section>
               <h1>This is the login page.</h1>
          </section>
     </body>

</html>